<!-- <h3>Interpolation</h3>
<h4>{{title}}</h4>
<h4>{{message}}</h4> -->
<!--

<app-data-binding></app-data-binding> -->
<!-- <app-str-directives></app-str-directives> -->
<!-- <app-str-direct></app-str-direct> -->
<!-- <app-attr-directive></app-attr-directive> -->
<!-- <app-parent [parentMessOne]='title'></app-parent> -->
<!-- <app-custom-directives></app-custom-directives> -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<!-- <input type="text" [(ngModel)]='title'>
<!--app-lifecycle></app-lifecycle> -->
<!-- <app-course-details></app-course-details> -->
<!-- <app-observe></app-observe> -->
<!-- <app-observe-string></app-observe-string> -->
<!-- <app-temp-forms></app-temp-forms> -->
<!-- <app-reactive-form></app-reactive-form> -->
<app-async-pipe></app-async-pipe>