<nav class="navbar navbar-expand-sm navbar-light" style="background-color:#12d4ee;">
    <a class="navbar-brand" href="#">
        <img src="https://media-exp1.licdn.com/dms/image/C511BAQHBopfaAwjBqw/company-background_10000/0/1563452711438?e=2159024400&v=beta&t=8FI7ENDU7LCOGaJwqDdCP0wKtWHCM-1JI3gi3XQvJGw" alt="logo" width="40" height="35" style="border-radius:20px;" />
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['contract']">DashBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['resource-management']">Resource Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['task']">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['worker']">NineToFivers</a>
            </li>

        </ul>
    </div>
</nav>
